<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css">
  <link rel="stylesheet" href="/css/basic.css" type="text/css" />
  <link rel="icon" href="/images/favicon.ico" />
  <title>
    <% let name; let tournamentID %>
    <% if(!db){ name=tournament.tournament.name; tournamentID=tournament.tournament.id } else {
          name=tournament[0].tournament_name; tournamentID=tournament[0].tournament_id } %>
    <%= name %>
  </title>
  <style>
    @import url("https://fonts.googleapis.com/css2?family=Sora:wght@500&display=swap");

    .form-group {
      margin-bottom: 50px;
    }

    .col-sm-9 {
      color: white;
      font-weight: bold;
      font-size: x-large;
    }

    .text-secondary {
      color: whitesmoke;
    }

    .container label {
      font-size: x-large;
    }
  </style>

  <% if(!db){ %>
  <script>
    const deleteHandler = async (e) => {
      e.preventDefault()
      if (confirm("Are you sure you want to delete this tournament?")) {
        try {
          const response = await fetch('/tournaments/<%= tournament.tournament.id %>', {
            method: 'DELETE',
            headers: {
              'Content-type': 'application/json'
            }
          })
          if (response.ok) {
            alert('Successfully deleted tournament')
            window.location.href = '/tournaments'
          } else {
            alert('Failed to delete tournament')
          }
        } catch (error) {
          alert('Failed to delete tournament')
        }
      }
    }
  </script>
  <%}%>

  </head>

  <body style="background-color: rgb(41, 43, 50);">
    <% if(!ID) { %>
  <%- include("_navigation_bar") %>
  <% } else if ( role === 0) {  %>
  <%- include("_admin_navigation_bar") %>
  <% } else { %>
  <%- include("_user_navigation_bar") %>
  <% } %>

  <section class="bg-dark text-light p-5 pt-lg-5 p-lg-5 text-center text-sm-start" style="background-image: url(/images/ssbbanner4.png); background-repeat: no-repeat;
  position: relative; background-position: center; background-size: cover">
    <div class="container py-5">
      <div class="d-sm-flex align-items-center justify-content-center text-center">
        <h1 style=" text-shadow : 10px 10px 20px black,  0 0 10px #167c9c;font-size: 50px;">
          <span style="font-weight: bold; color: white; font-size: 80px; ">
            <%= name %>
          </span>
        </h1>
      </div>
    </div>
  </section>

  <!-- Start of Tournament Details Container -->
  <div class="container py-5">
    <div class="row py-3 align-items-center justify-content-center">
      <div class="card bg-dark text-light h-100 py-5">
        <div class="card-body text-center">
          <!-- Title -->
          <h2 class="card-title pb-3">
            <span><a href="/tournaments/<%= tournamentID %>/kiosk " title="Check-In Kiosk Mode" style="text-decoration:none;">
                <i class="bi bi-list-task px-2"></i>
              </a></span>
            Tournament Details
          </h2>
          <!-- Line Separator -->
          <div class="row align-items-center justify-content-center">
            <div class="col-11">
              <hr />
            </div>
          </div>


          <div class="row align-items-center justify-content-evenly pt-2 pb-4">
            <!-- Check In Status -->
            <div class="col p-3">
              <h5>Tournament Status</h5>
              <% let state %>
              <% if(!db){ state=tournament.tournament.state } else { state=tournament[0].tournament_state } %>
              <p class="text-capitalize fw-bolder h4">
                <%= state %>
              </p>
            </div>
            <!-- Tournament Format -->
            <div class="col p-3">
              <h5>Format</h5>
              <% let type %>
              <% if(!db) { type=tournament.tournament.tournamentType } else { type=tournament[0].tournament_type } %>
              <p class="text-capitalize fw-bolder h4">
                <%= type %>
              </p>
            </div>
          </div>
          <div class="row align-items-center justify-content-center">
            <!-- # of entrants -->
            <div class="col p-3">
              <h5>Number of Entrants</h5>
              <% let participants %>
              <% if(!db){ participants=tournament.tournament.participantsCount } else {
                                participants=tournament[0].participants_count } %>
              <p class="fw-bolder h4">
                <%= participants %>
              </p>
            </div>
            <!-- Start Time -->
            <div class="col p-3">
              <h5>Start Time</h5>
              <% let start %>
              <% if(!db){ start=tournament.tournament.startAt } else {
                                start=tournament[0].tournament_start } %>
              <p class="fw-bolder h4">
                <%= !start ? "Tentative" : new Date(start).toLocaleString() %>
              </p>
            </div>
          </div>

        </div>
      </div>
    </div>
    <!-- End of Tournament Details Row -->

    <%if(db) {%>
    <div class="fw-bold text-center text-secondary text-shadow h3 pt-3">
      <span>Challonge Offline! Tournament details are from local database.</span>
    </div>
    <%}%>


    <%if(!ID) {%>
    <div class="fw-bold text-center text-secondary text-shadow h2 pt-3">
      <span>You are not logged in!</span>
    </div>
    <%}else if(uniqueID){%>
    <div class="fw-bold text-center text-success h4 pt-3">You are registered for this tournament!
    </div>
    <div class="fw-bolder text-center text-light py-3">Your participant ID: <%= uniqueID %>
    </div>
    <%}%>



    <!-- Register for Tournament Button -->
    <div class="row align-items-center justify-content-center">
      <div class="col">
        <%if(ID && !db && !uniqueID){%>
    <form id="myform" class="mt-3" action="/tournaments/<%= tournament.tournament.id %>/participants" method="POST">
      <button form="myform" class="btn btn-light btn-lg border-dark text-dark w-100" type="submit">
        <b>Register for this tournament</b>
      </button>
    </form>
    <%}%>
      </div>
    </div>


    <p class="pt-3 text-center">
      <button class="btn btn-secondary btn-lg dropdown-toggle border-dark text-dark fw-bold" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
        Other Actions
      </button>
    </p>
    <div class="collapse" id="collapseExample">
    
    <!-- Unregister for Tournament Button -->
    <!-- User must be logged in and pulling tournament id from Challonge to display button -->
    <div class="row">
      <div class="col">
        <%if(ID && !db){%>
    <form id="myform1" class="d-flex justify-content-center mt-3" action="/tournaments/<%= tournament.tournament.id %>/participants/<%= uniqueID %>" method="POST">
      <button form="myform1" class="btn btn-warning btn-lg border-dark text-dark w-100" type="submit">
        <b>Unregister for this tournament</b>
      </button>
    </form>
    <%}%>
      </div>
    </div>

    <!-- Check In to Tournament Button -->
    <div class="row">
      <div class="col">
        <%if(ID && !db){%>
    <form id="myform2" class="d-flex justify-content-center mt-3" action="/tournaments/<%= tournament.tournament.id %>/participants/<%= uniqueID %>/check_in" method="POST">
      <button form="myform2" class="btn btn-success btn-lg border-dark text-dark w-100" type="submit">
        <b>Check In</b>
      </button>
    </form>
    <%}%>
    </div>
  </div>

  <!--Admin Check on this IF statement-->
  <div class="row">
    <div class="col">
      <!-- && (state==="Checking_in" || state === "Pending") -->
      <%if(ID && !db && role===0){%>
    <!--Process Check-ins and start tournament-->
    <form id="begin" class="d-flex justify-content-center mt-3" action="/tournaments/<%= tournament.tournament.id %>/start" method="POST">
      <button form="begin" class="btn btn-success btn-lg border-dark text-dark w-100" type="submit">
        <b>Begin Tournament
      </button>
    </form>
  </div>
  </div>

  <!-- Process Check-ins -->
  <div class="row">
    <div class="col">
      <form id="processCheckIns" class="d-flex justify-content-center mt-3" action="/tournaments/<%= tournament.tournament.id %>/processCheckIns" method="POST">
        <button form="processCheckIns" class="btn btn-success btn-lg border-dark text-dark w-100" type="submit">
          <b>Process Check-ins
        </button>
      </form>
    </div>
  </div>

  <!-- Abort Check-ins -->
  <div class="row">
    <div class="col">
      <form id="abort" class="d-flex justify-content-center mt-3" action="/tournaments/<%= tournament.tournament.id %>/abortCheckIn" method="POST">
        <button form="abort" class="btn btn-warning btn-lg border-dark text-dark w-100" type="submit">
          <b>Abort Check-in Process
        </button>
      </form>
      <%}%>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <%if(ID && !db && role===0 ){%>
      <!--Finalize tournament standings.-->
      <form id="finish" class="d-flex justify-content-center mt-3" action="/tournaments/<%= tournament.tournament.id %>/finalize" method="POST">
        <button form="finish" class="btn btn-danger btn-lg border-dark text-dark w-100" type="submit">
          <b>Finish Tournament
        </button>
      </form>
      <%}%>
      </div>
    </div>

    <!-- Delete tournament (Admin only) -->
    <%if(ID && !db && role===0){%>
      <div class="row">
        <div class="col">
          <form id="deleteForm" class="d-flex justify-content-center mt-3" onsubmit="deleteHandler(event)">
            <button form="deleteForm" class="btn btn-danger btn-lg border-dark text-dark w-100" type="submit">
              <b>Delete Tournament
            </button>
          </form>
        </div>
      </div>
      <%}%>
    </div>
  </div>




      <!-- Container Start -->
      <!-- Report Scores -->
      <%if(ID && !db && match){%>
      <div class="container py-4 text-light">
        <div class="row align-items-center justify-content-center">
          <div class="col-xl-10 col-l-8 card" style="background-color: rgb(33, 35, 38);">

            <div class="card-body">

              <!-- Form Start -->
              <h1 class="title text-center fw-bold mt-4">Report Scores✍
              </h1>
              <form class="form-box px-3 needs-validation" action="/tournaments/<%= tournament.tournament.id %>/matches/<%= match.id %>" method="POST">

                <!-- Report Scores buttons -->
                <h5 class="pt-4">Select Winner and Scores</h5>
                <div class="row pb-4">
                  <div class="col">
                    <input type="radio" class="btn-check w-100" name="winnerID" id="success-outlined" value="<%= match.player1Id %> " autocomplete="off" checked>
                    <label class="btn btn-outline-primary btn-lg text-light w-100" name="P1label" for="success-outlined" value="<%= match.player1Name %>">
                      <%= match.player1Name %>
                    </label>
                  </div>
                  <div class="col">
                    <input type="radio" class="btn-check" name="winnerID" id="danger-outlined" value="<%= match.player2Id %> " autocomplete="off">
                    <label class="btn btn-outline-danger btn-lg text-light w-100" name="P2label" for="danger-outlined" value="<%= match.player2Name %>">
                      <%= match.player2Name %>
                    </label>
                  </div>
                </div>

                <div class="row h1 p-3">

                  <div class="col">
                    <div class="form-check pb-3">
                      <input class="form-check-input" type="radio" name="player1Score" id="player1Score" value="0">0
                    </div>
                    <div class="form-check pb-3">
                      <input class="form-check-input" type="radio" name="player1Score" id="player1Score" value="1">1
                    </div>
                    <div class="form-check pb-3">
                      <input class="form-check-input" type="radio" name="player1Score" id="player1Score" value="2">2
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="player1Score" id="player1Score" value="3">3
                    </div>
                  </div>
                  <div class="col">
                    <div class="form-check pb-3">
                      <input class="form-check-input" type="radio" name="player2Score" id="player2Score" value="0">0
                    </div>
                    <div class="form-check pb-3">
                      <input class="form-check-input" type="radio" name="player2Score" id="player2Score" value="1">1
                    </div>
                    <div class="form-check pb-3">
                      <input class="form-check-input" type="radio" name="player2Score" id="player2Score" value="2">2
                    </div>
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="player2Score" id="player2Score" value="3">3
                    </div>
                  </div>

                </div>
            </div>

            <div class="row h1 py-3">
              <div class="col text-center">
                <button class="btn btn-lg btn-blue" type="submit">Submit</button>
              </div>
            </div>
            </form>
          </div>




        </div>
      </div>
    </div>
    <%}%>

    <% if(!db){ %>
    <!-- Embed Challonge bracket -->
    <% const source=tournament.tournament.fullChallongeUrl
      + "/module?show_final_results=1&show_tournament_name=1&show_standings=1&show_live_status=1" ;%>
    <div class="row py-5 align-items-center justify-content-center">
      <div class="col-11">
        <iframe src="<%= source%>" width="100%" height="500" frameborder="0" scrolling="auto" allowtransparency="true"></iframe>
      </div>
    </div>
  </div>
  <% } %>

  <!-- End of Main Container -->

  <!-- Copyright Footer -->
  <footer class="pb-3 pt-4 bg-dark text-white text-center text-muted position-relative">
    <div class="container">
      <p>&copy; <span id="displayDate"></span> <a href="/" style="color: white;">TournaSmash</a>
      </p>
      <a href="#" class="position-absolute bottom-0 end-0 p-4 pt-5">
        <i class="bi bi-arrow-up-circle h1"></i></a>
    </div>
  </footer>

  <script type="text/javascript">
    var newDate = new Date();
    // Insert it via javascript
    document.getElementById('displayDate').innerHTML = newDate.getFullYear();
  </script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

  </body>

</html>